.category-image{
    width: 100px;
}

.form-select{
   display: block;
   padding: .375rem  2.25rem .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   color: #212529;
   background-color: #fff;
   background-repeat: no-repeat;
   background-position: right .75rem center;
   background-size: 16px 12px;
   border: 1 solid #ced4da;
   border-radius: .25rem;   
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   
}