*{
    font-family: 'Roboto', sans-serif;
}

.checkout-form label{
    font-size: 14px;
    font-weight: 700;
    padding: 5px;

}


.checkout-form input{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

.whatsapp-chat{
    bottom: 0;
    display: flex;
    float: left;
    right: 0;
    position: fixed;

   
}

